################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Nya.GenshinImpact.ProbabilityСheck/bin
/Nya.GenshinImpact.ProbabilityСheck/obj
/Nya.GenshinImpact.ProbabilityСheck/Properties/PublishProfiles
