################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Nya.GenshinImpact.ProbabilityСheck/bin
